<!-- Add Trial modal -->
<div class="modal fade" id="a{{ trial.id }}" tabindex="-1" aria-labelledby="{{ trial.id }}" aria-hidden="true" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form method="POST"  action="{{ url_for('add_trial') }}">
            <div class="modal-header">
                <input name="trial_api_id" value="{{ trial.id }}" hidden>
                <h2 class="modal-title">{{ trial.public_title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-intro">
                {% if trial.locations %}
                    <p class="card-text"><span class="card-text-info">Country:</span>  
                        {% for t in trial.locations %}
                            {{ t['name'] }}
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="card-text"><span class="card-text-info">Status:</span> {{ trial.status }}</p>
                {% if trial.study_phase[0] %}
                    <p class="card-text"><span class="card-text-info">Study Phase:</span> {{ trial.study_phase[0] }}</p>
                {% endif %}
                <p class="card-text"><span class="card-text-info">Recruitment Status:</span> {{ trial.status }}</p>
            </div>
            <div class="modal-body">
                {% if trial.brief_summary %}
                    {{ trial.brief_summary }}
                {% endif %}
            </div>
            <div class="modal-extra-info">
                {% if trial.organisations %}
                    <p class="card-text"><span class="card-text-info">Organisation:</span> 
                        {% for t in trial.organisations %}
                            {{ t['name'] }}<br>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if trial.persons %}
                    <p class="card-text"><span class="card-text-info">Lead Researcher:</span> 
                        {% for t in trial.persons %}
                            {{ t['name'] }}<br>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="card-text"><span class="card-text-info"><a href="{% for t in trial.records %}
                    {{ t['source_url'] }}
                {% endfor %} }}" target="_blank">Offical link</a></span></p>
                <p class="card-text"><span class="card-text-info">Last update:</span> {% for t in trial.records %}
                    {{ t['updated_at'] }}<br>
                {% endfor %}</p>          
            </div>
            <div class="modal-footer">
                {% if session.get('user') %}
                    {% if trial.id in added_trials %}
                        <button type="submit" class="btn"><i class="fas fa-heart-broken"></i> Remove from My Trials</button><br>                
                    {% else %}
                        <button type="submit" class="btn"><i class="fas fa-heart"></i> Add to favourites</button>
                    {% endif %}
                    <button type="button" class="btn" data-bs-dismiss="modal"><i class="far fa-times-circle"></i> Close</button>
                {% else %}
                    <div class="text-center justify content-center">
                        <p>Your contribution if extremely important to the community. Log In/Resgister to access other user's reviews and share your testimony.</p>
                        <a type="submit" class="btn btn-secondary" href="{{ url_for('register') }}"><i class="fab fa-wpforms"></i> Register</a>
                        <a type="submit" class="btn btn-secondary" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Log In</a>
                    </div>
                {% endif %}
            </div>
            </form>
             {% include 'pages/comments.html' %}
        </div>
    </div>
</div>
