{% extends "layout/base.html" %}
{% block content %}

    <h1>Clinical Trials</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="page-intro">Immunotherapy is a type of cancer treatment that helps your immune system fight cancer. The immune system helps your body fight infections and other diseases. It is made up of white blood cells and organs and tissues of the lymph system.Immunotherapy is a type of biological therapy. <a class="source-link" href="https://www.cancer.gov/about-cancer/treatment/types/immunotherapy">[1]</a></p>
                <p>We have <strong>{{count}}</strong> {% if count == 1 %} trial {% else %} trials {% endif %} available for you.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <form class="form-inline mb-5" method="POST" action="{{url_for('clinical_trials')}}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search keyword (e.g. lung, bladder, squamous cell carcinoma etc. )" aria-label="Search keywords" name="search" value="">
                    <button class="btn my-2 mt-2 adjust-right" type="submit">Search</button>
                </form>             
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for trial in trials['items'] %}

                <div class="card .col" style="width: 35rem;">
                    <img src="https://source.unsplash.com/collection/61510941/{{ range(1, 100) | random }}" class="card-img-top">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title mb-5">{{ trial.public_title }}</h4>
                        {% if trial.locations %}
                        <p class="card-text"><span class="card-text-intro">Country:</span>  {% for t in trial.locations %}
                                                {{ t['name'] }}
                                            {% endfor %}</p>
                        {% endif %}
                        <p class="card-text"><span class="card-text-intro">Status:</span> {{ trial.status }}</p>
                        <p class="card-text"><span class="card-text-intro">Recruitment Status:</span> {{ trial.status }}</p>
                        {% if trial.study_phase[0] %}
                        <p class="card-text"><span class="card-text-intro">Study Phase:</span> {{ trial.study_phase[0] }}</p>
                        {% endif %}
                        <a type="button" class="btn card-btn mt-auto" data-bs-toggle="modal" data-bs-target="#a{{ trial.id }}">
                            <i class="fas fa-glasses"></i> Check this trial
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                {% include 'pages/add_trial.html' %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
