{% extends "layout/base.html" %}
{% block content %}

    <h1>Edit Review</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 justify-content-center">
                <form class="form-inline mb-5" method="POST" action="{{ url_for('edit_reviews', comment_id=comment._id) }}">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Review</span>
                        <input type="text" name="user_id" value="{{ comment.user_id }}" hidden>
                        <input type="text" name="trial_api_id" value="{{ comment.trial_id }}" hidden>
                        <textarea id="textarea-comment" class="form-control user_comment user_reviews" aria-label="With textarea" name="user_comments">{{ comment.user_comments }}</textarea>
                    </div>
                    <div class="input-group justify-content-center">
                        <button class="btn" type="submit">Save/Close</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
   
{% endblock %}