{% extends 'layout/base.html' %}
{% block content %}
    <!-- Hero Image -->
    <div class="container-fluid" id="hero-img">
        <div class="d-grid gap-2 d-md-block text-center">
            {% if session.get('user') %}
                <a href="{{ url_for('clinical_trials', user_id=session['user']) }}" class="homepage-btn" type="button"><i class="fas fa-stethoscope"></i>Clinical Trials</a>
                <a href="{{ url_for('my_trials', user_id=session['user']) }}" class="homepage-btn" type="button"><i class="fas fa-hospital-user"></i>My Trials</a>
            {% else %}
                <a href="{{ url_for('register') }}" class="homepage-btn" type="button"><i class="fab fa-wpforms"> </i>Register</a>
                <a href="{{ url_for('login') }}" class="homepage-btn" type="button"><i class="fas fa-sign-in-alt"></i> Log In</a>
            {% endif %}
          </div>
    </div>
    
    <!-- Text intro -->
    <div class="container-fluid m-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class=" text-center">Welcome to Speranza, a sharing space for you and your loved ones.</h1>
                <p class="page-intro  text-center">Because hope is endless and it has a name: <strong>Immunotherapy</strong>.</p>
            </div>
        </div>
    </div>

    <!-- Last Comments Carousel -->
    <div class="container">
        <h2 class="text-center">Last Comments</h2>
        <div class="row">
            <div class="col justify-content-center">
                <div class="card-item">
                    {% for comment in last5comments %}
                        <div class="card m-5">
                            <div class="card-header">
                                {{comment.user_comments}}
                            </div>
                            <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                {% if session.get('user') %}
                                    <p>{{comment.username}}</p>
                                {% else %}
                                    <p>Anonymous User</p>
                                {% endif %}
                                <footer class="blockquote-footer">{{comment.posted_on}}</footer>
                            </blockquote>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
        </div>
    </div>

    <!-- External Quote -->
    <div class="card m-5 w-50 position-relative bottom-0 start-50 translate-middle-x">
        <div class="card-body">
            <blockquote class="blockquote mb-0 page-intro">
                <p>"Hope is the life we live, the attitude we carry, the gift we give others. Hope is the energy, the courage and the strength to keep believing in the goodness of life, God and the people around us."</p>
                <footer class="blockquote-footer">Froyle Davies <cite title="Hope">Hope</cite></footer>
            </blockquote>
        </div>
    </div>
{% endblock %}