{% extends 'layout/base.html' %}
{% block content %}
    <!-- Hero Image -->
    <div class="container-fluid" id="hero-img">
        <div class="d-grid gap-2 d-md-block text-center">
            {% if session.get('user') %}
                <a href="{{ url_for('clinical_trials', user_id=session['user']) }}" class="homepage-btn" type="button">Clinical Trials</a>
                <a href="{{ url_for('my_trials', user_id=session['user']) }}" class="homepage-btn" type="button">My Trials</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="homepage-btn" type="button">Log In</a>
                <a href="{{ url_for('register') }}" class="homepage-btn" type="button">Register</a>
            {% endif %}
          </div>
    </div>
    
    <!-- Text intro -->
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class=" text-center">Welcome to Speranza, a sharing space for you and your loved ones.</h1>
                <p class="page-intro  text-center">Because hope is endless and it has a name: <strong>Immunotherapy</strong>.</p>
            </div>
        </div>
    </div>
    <div class="card mb-4 w-50 position-relative bottom-0 start-50 translate-middle-x">
        <div class="card-body">
            <blockquote class="blockquote mb-0 page-intro">
                <p>"Hope is the life we live, the attitude we carry, the gift we give others. Hope is the energy, the courage and the strength to keep believing in the goodness of life, God and the people around us."</p>
                <footer class="blockquote-footer">Froyle Davies <cite title="Hope">Hope</cite></footer>
            </blockquote>
        </div>
    </div>
{% endblock %}