{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navbar.html' %}
    <!-- Hero Image -->
    <div class="container-fluid" id="hero-img"></div>
    <!-- Text intro -->
    <div class="card mt-5 w-50 d-flex justify-content-center">
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>"Hope is the life we live, the attitude we carry, the gift we give others. Hope is the energy, the courage and the strength to keep believing in the goodness of life, God and the people around us."</p>
            <footer class="blockquote-footer">Froyle Davies <cite title="Hope">Hope</cite></footer>
        </blockquote>
        </div>
    </div>
{% endblock %}