{% extends "layout/base.html" %}
{% block content %}

    <h1>My Trials</h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        {% for trial in trials %}
            <div class="card .col" style="width: 35rem;">
                <img src="https://source.unsplash.com/collection/61510941" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title mb-5">{{ trial['items'][0].public_title }}</h4>
                    <p class="card-text"><span class="card-text-intro">Country:</span>  {% for t in trial['items'][0].locations %}
                                            {{ t['name'] }}
                                        {% endfor %}</p>
                    <p class="card-text"><span class="card-text-intro">Status:</span> {{ trial['items'][0].status }}</p>
                    <p class="card-text"><span class="card-text-intro">Recruitment Status:</span> {{ trial['items'][0].status }}</p>
                    <p class="card-text"><span class="card-text-intro">Study Phase:</span> {{ trial['items'][0].study_phase[0] }}</p> 
                    <a type="button" class="btn card-btn mt-auto" data-bs-toggle="modal" data-bs-target="#a{{ trial['items'][0].id }}">
                        <i class="fas fa-glasses"></i> Check this trial
                    </a>
                
                </div>
            </div>

            <!-- Modal -->

            <div class="modal fade" id="a{{ trial['items'][0].id }}" tabindex="-1" aria-labelledby="{{ trial['items'][0].id }}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <form method="POST" action="#">
                        <div class="modal-header">
                            <input name="trial_api_id" value="{{ trial.id }}" hidden>
                            <h2 class="modal-title">{{ trial['items'][0].public_title }}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-intro">
                            <p class="card-text"><span class="card-text-info">Country:</span>  {% for t in trial['items'][0].locations %}
                                {{ t['name'] }}
                            {% endfor %}</p>
                            <p class="card-text"><span class="card-text-info">Status:</span> {{ trial['items'][0].status }}</p>
                            <p class="card-text"><span class="card-text-info">Study Phase:</span> {{ trial['items'][0].study_phase[0] }}</p>
                            <p class="card-text"><span class="card-text-info">Recruitment Status:</span> {{ trial['items'][0].status }}</p>
                        </div>
                        <div class="modal-body">
                            {{ trial.brief_summary }}
                        </div>
                        <div class="modal-extra-info">
                            <p class="card-text"><span class="card-text-info">Organisation:</span> {% for t in trial['items'][0].organisations %}
                                {{ t['name'] }}<br>
                            {% endfor %}</p>
                            <p class="card-text"><span class="card-text-info">Lead Researcher:</span> {% for t in trial['items'][0].persons %}
                                {{ t['name'] }}<br>
                            {% endfor %}</p>
                            <p class="card-text"><span class="card-text-info"><a href="{% for t in trial['items'][0].records %}
                                {{ t['source_url'] }}
                            {% endfor %} }}" target="_blank">Offical link</a></span></p>
                            <p class="card-text"><span class="card-text-info">Last update:</span> {% for t in trial['items'][0].records %}
                                {{ t['updated_at'] }}<br>
                            {% endfor %}</p>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                            <a href="{{ url_for('remove_trial', trial_id=trial['items'][0].id) }}" class="btn"><i class="fas fa-heart-broken"></i> Remove from My Trials </a>
                        </div>
                        </form>
                        {% include 'pages/comments.html' %}
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="m-5">My comments</h2>
            {% for comment in comments %}
                {% if comment.user_id == session['user'] %}
                <div class="card m-5">
                    <div class="card-header">
                        {% for trial in all_trials['items'] %}
                            {% if trial.id == comment.trial_id %}
                                <p><a href="{{ url_for('view_trial', trial_id=trial.id) }}"  >{{ trial.public_title}}</a></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{comment.user_comments}}</p>
                        <p>{{comment.username}}</p>
                        <footer class="blockquote-footer">{{comment.posted_on}}</footer>
                    </blockquote>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn card-btn mt-auto" id="edit_comment" href="{{url_for('edit_reviews', comment_id=comment._id)}}">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="{{ url_for('delete_reviews', comment_id=comment._id) }}" class="btn card-btn mt-auto" type="button">
                            <i class="far fa-trash-alt"></i> Delete
                        </a> 
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
