{% extends "layout/base.html" %}
{% block content %}
{% include 'components/navbar.html' %}

    <h1 class="text-align-center">Register</h1>

    <div class="container">
        <div class="row m-5 offset-3">
            <form class="card mb-3" method="POST" action="{{ url_for('register') }}">
                <div class="card-img-top" id="reg-form"> </div>
                <div class="card-body">
                    <!-- First and Last Name -->
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-text">First and last name</span>
                            <input type="text" name="fname" aria-label="fname" class="form-control">
                            <input type="text" name="lname" aria-label="lname" class="form-control">
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-text">Username</span>
                            <input type="text" name="username" aria-label="username" class="form-control">
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-group"> 
                            <span class="input-group-text">Password</span>
                            <input type="password" name="password" aria-label="password" class="form-control">                            
                        </div>
                    </div>
                    <!-- Submit Form -->
                    <div class="row">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}