{% extends "layout/base.html" %}
{% block content %}

    <h1 class="text-align-center">Register</h1>

    <div class="container">
        <div class="row m-5 offset-3">
            <form class="card mb-3" method="POST" action="{{ url_for('register') }}">
                <div class="card-img-top" id="reg-form"> </div>
                <div class="card-body">
                    <!-- First and Last Name -->
                    <div class="row">
                        <div class="input-group col-form-label col-form-label-lg">
                            <span class="input-group-text">First Name | Last Name</span>
                            <input type="text" name="fname" aria-label="fname" class="form-control" required>
                            <input type="text" name="lname" aria-label="lname" class="form-control" required>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row">
                        <div class="input-group col-form-label col-form-label-lg">
                            <span class="input-group-text">Email</span>
                            <input type="email" name="email" aria-label="email" class="form-control" required>
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="row">
                        <div class="input-group col-form-label col-form-label-lg">
                            <span class="input-group-text">Username</span>
                            <input type="text" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="username" class="form-control" required>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-group col-form-label col-form-label-lg"> 
                            <span class="input-group-text">Password</span>
                            <input type="password" name="password" minlength="6" maxlength="30" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="password" class="form-control" required>                            
                        </div>
                    </div>
                    <!-- Submit Form -->
                    <div class="row">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}