@import url('https://fonts.googleapis.com/css2?family=Martel&family=Open+Sans+Condensed:wght@700&family=PT+Sans+Caption&display=swap');

html {
    font-size: 62.5%;
    position: relative;
}

body{
    font-family: "Martel", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
    margin: 3rem;
    text-transform: uppercase;
}

/* Navigation Bar */
.navbar{
    background-color: #556E71;
    color: #FCFCFA;
    text-decoration: none;
}

.navbar-brand{
    font-size: min(max(3rem, 7vw), 5rem);
}

/* Homepage Hero Image */
#hero-img{
    background: url('https://source.unsplash.com/yg1Zayn0Few/1600x900');
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
}

/* Homepage buttons */
.homepage-btn{
    background-color: #556E71;
    color: #FCFCFA;
    font-size: 2rem;
    position: relative;
    -webkit-transform: translate(60vh);
    -moz-transform: translate(60vh);
    -o-transform: translate(60vh);
    -ms-transform: translate(60vh);
    transform: translateY(60vh);
    padding: 1rem 2rem 1rem 2rem;
}

/* Pages Intro*/
.page-intro{
    font-size: 2rem;
    text-align:justify;
}

.source-link{
    vertical-align: super;
    font-size: 1rem;
}

.source-link:hover, .source-link:focus, .source-link:active {
    text-decoration:underline;
    color:#556E71;
}

/* Buttons */
.btn{
    background-color: #556E71;
    color: #FCFCFA;
    font-size: 2rem;
}

/* Trials Cards */
.card-img-top{
    width: 100%;
    height: 25rem;
}

.card-title, .card-text-info{
    font-weight: 700;
}

/* Registration Form */
#reg-form{
    background: url('https://source.unsplash.com/_-Cg7vTw3bs/1600x900');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/* Toast */
.toast {
    z-index: 99999;
}

/* Search Bar */
.form-control{
    font-size: 2rem;
}

/* Comments */
.user_comment {
    max-width:95%;
    border-radius: 2rem;
    border-color: #556E71;
    border-width: 0.5rem;
    text-indent: 1rem;
}

#user_comment:focus {
    outline: none;
}

/* Footer */
#footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #556E71;
    color: #FCFCFA;
}

.social-links{
    margin: 1.6rem;
    font-size: 2rem;
}