{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <section>
        <div class="toast position-fixed top-0 end-0 p-3" id="flash-messages" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="{{ url_for('static', filename='images/speranza_logo.png') }}" width="60" height="60" class="rounded me-2" alt="Speranza logo">
            <strong class="me-auto">Speranza</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
      </section>
    {% endfor %}
  {% endif %}
{% endwith %} 