<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid p-0">
    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/speranza_logo.png') }}" alt="Speranza logo" width="60" height="60" class="d-inline-block align-text-top">
      <span>SPERANZA</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        {% if session.user %}
          <a class="nav-link" href="{{ url_for('my_trials', username=session['user']) }}">My Trials</a>
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
          <a class="nav-link" href="{{ url_for('clinical_trials') }}">Clinical Trials</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>